workflow_preentrega.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://timeapi.bio/timeapi/time",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"region\": \"America/Bogota\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1232,
        464
      ],
      "id": "c6ab7280-37cd-4699-8098-e758a3f80f14",
      "name": "Consultor_Horario_Bogotá"
    },
    {
      "parameters": {
        "jsCode": "// 1. Extraer el contenido del cuerpo que tiene los caracteres \\n\nconst rawBody = $json.body;\n\n// 2. Limpiar la cadena y convertirla en un objeto JSON real\n// Reemplazamos los saltos de línea y quitamos comas sobrantes antes del cierre\nconst cleanJson = JSON.parse(rawBody.replace(/\\\\n/g, '').replace(/,\\s*}/, '}'));\n\n// 3. Generar la fecha y hora actuales usando Luxon (integrado en n8n)\nconst ahora = DateTime.now();\nconst fechaTicket = ahora.toFormat('yyyyMMdd');\nconst horaActual = ahora.toFormat('HH:mm:ss');\n\n// 4. Retornar los campos separados y el ticket dinámico\nreturn {\n  email: cleanJson.email,\n  usuario: cleanJson.usuario,\n  tipo_problema: cleanJson.tipo_problema,\n  nivel_escalamiento: cleanJson.nivel_escalamiento,\n  hora: horaActual,\n  ticket: `TK${fechaTicket}-${cleanJson.usuario}`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        144
      ],
      "id": "cbbea691-48ac-42ae-9812-d8a64b834814",
      "name": "Procesador_Datos_y_Generador_ID"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -512,
        160
      ],
      "id": "57801f65-4016-4695-ab74-8da9e59a1736",
      "name": "Sincronizador_Ticket_Habil"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.nivel_escalamiento }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "715d1470-a00f-4436-8607-ad39499528e8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Alta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "154489d0-ccc9-4bf6-ae9a-ede422ed2148",
                    "leftValue": "={{ $json.nivel_escalamiento }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Media"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "34a9e037-b318-4540-8da8-208157efa6d1",
                    "leftValue": "={{ $json.nivel_escalamiento }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Baja"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -256,
        144
      ],
      "id": "0c1d18f2-b6c8-4d04-95f0-d100fbd09ceb",
      "name": "Clasificador_Prioridad_SLA"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2abf83a1-38e4-4567-bad8-18be836ff33b",
              "name": "day_of_week",
              "value": "={{ $json.day_of_week }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        464
      ],
      "id": "6b757867-c448-46e7-8bda-6cf90950ee63",
      "name": "Formateador_Día_Semana"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d95cf602-b226-4eaa-8b5f-89113a77934e",
              "leftValue": "={{ $('Consultor_Horario_Bogotá').item.json.day_of_week }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -800,
        464
      ],
      "id": "22df6c00-323d-4559-90e4-af3d6e1c102b",
      "name": "¿Es_Día_Laboral?",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -512,
        464
      ],
      "id": "fef94d50-4b7b-4953-818c-bde1a438d060",
      "name": "Unión_Datos_Rechazo"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Informacion sobre la generacion de ticket",
        "message": "=<div style=\"font-family: 'Segoe UI', Arial, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: auto; border: 1px solid #eee; border-radius: 10px; overflow: hidden;\">\n  \n  <div style=\"background-color: #0047AB; color: white; padding: 20px; text-align: center;\">\n    <h2 style=\"margin: 0;\">Notificación de Soporte</h2>\n  </div>\n\n  <div style=\"padding: 20px;\">\n    <p>Hola, <strong>{{ $json.usuario }}</strong>.</p>\n    \n    <p>Hemos recibido tu solicitud de contacto. Sin embargo, te informamos que actualmente nos encontramos en <strong>fin de semana</strong>.</p>\n\n    <div style=\"background-color: #fff3cd; border-left: 5px solid #ffecb5; color: #856404; padding: 15px; margin: 20px 0; border-radius: 4px;\">\n      <strong>Nota importante:</strong> La creación y asignación formal de tu ticket de soporte se realizará el próximo <strong>día hábil</strong> en nuestro horario habitual.\n    </div>\n\n    <table style=\"width: 100%; border-collapse: collapse;\">\n      <tr>\n        <td style=\"padding: 10px; border-bottom: 1px solid #eee; font-weight: bold; width: 30%;\">Usuario:</td>\n        <td style=\"padding: 10px; border-bottom: 1px solid #eee;\">{{ $json.usuario }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px; border-bottom: 1px solid #eee; font-weight: bold;\">Correo:</td>\n        <td style=\"padding: 10px; border-bottom: 1px solid #eee;\">{{ $json.email }}</td>\n      </tr>\n    </table>\n\n    <p style=\"margin-top: 25px;\">Agradecemos tu paciencia. Tan pronto retomemos actividades, un agente se pondrá en contacto contigo.</p>\n  </div>\n\n  <div style=\"background-color: #f9f9f9; color: #777; padding: 15px; text-align: center; font-size: 0.85em;\">\n    <p style=\"margin: 0;\">Este es un mensaje automático generado por el sistema de recepción.</p>\n  </div>\n</div>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        160,
        544
      ],
      "id": "e6c8a99d-7795-4915-960a-01cd7ba3dbb1",
      "name": "Gmail_Notificación_Fin_de_Semana",
      "webhookId": "6244a5e2-57cb-4875-bf41-3d14f9f1e269",
      "credentials": {
        "gmailOAuth2": {
          "id": "bcXOAGmgUOAQpMYT",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discordapp.com/api/webhooks/1479561429328859269/vnFFQQjOEFbZctRguU8NRg-L1OJAr5P0My3QulGUjF_dSXCG60ZW5WsXzowLtuSeBeBs",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"🚨 **¡ALERTA DE TICKET CRÍTICO!**\",\n  \"embeds\": [{\n    \"title\": \"Incidencia: {{ $json.tipo_problema }}\",\n    \"description\": \"Se ha generado un nuevo reporte que requiere atención inmediata.\",\n    \"color\": 16711680, \n    \"fields\": [\n      { \"name\": \"ID Ticket\", \"value\": \"{{ $json.ticket }}\", \"inline\": true },\n      { \"name\": \"Usuario\", \"value\": \"{{ $json.usuario }}\", \"inline\": true }\n    ],\n    \"footer\": { \"text\": \"Sistema de Monitoreo n8n\" }\n  }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        160,
        -16
      ],
      "id": "c8751092-b274-44bf-8c0d-a8b10aee5447",
      "name": "Alerta_Discord_Crítica"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": " ¡ALERTA DE TICKET!",
        "message": "=<div style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">\n  <h2 style=\"color: #0047AB;\">Notificación de Nuevo Ticket</h2>\n  <p>Hola, se ha generado un nuevo reporte con la siguiente información:</p>\n  \n  <table style=\"width: 100%; border-collapse: collapse; margin: 20px 0;\">\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd; font-weight: bold; background-color: #f9f9f9;\">ID del Ticket:</td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $json.ticket }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd; font-weight: bold; background-color: #f9f9f9;\">Usuario:</td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $json.usuario }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd; font-weight: bold; background-color: #f9f9f9;\">Tipo de Problema:</td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $json.tipo_problema }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd; font-weight: bold; background-color: #f9f9f9;\">Nivel de Escalamiento:</td>\n      <td style=\"padding: 8px; border: 1px solid #ddd; color: {{ $json.Nivel >= 4 ? '#d9534f' : '#333' }}; font-weight: bold;\">{{ $json.nivel_escalamiento }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd; font-weight: bold; background-color: #f9f9f9;\">Hora de Reporte:</td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $json.hora }}</td>\n    </tr>\n    </tr>\n  </table>\n\n  <p>Por favor, dar seguimiento a la brevedad posible.</p>\n  <hr style=\"border: 0; border-top: 1px solid #eee;\" />\n  <p style=\"font-size: 0.8em; color: #777;\">Este es un mensaje automático generado por el sistema de soporte.</p>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        160,
        160
      ],
      "id": "22551b38-61b1-441f-a083-e20c26f8d8b3",
      "name": "Gmail_Confirmación_Recibido",
      "webhookId": "6244a5e2-57cb-4875-bf41-3d14f9f1e269",
      "credentials": {
        "gmailOAuth2": {
          "id": "bcXOAGmgUOAQpMYT",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Tuj_du9sSYsLjx3icdj9_lEBrXebiUJlSQFBltEKUDo",
          "mode": "list",
          "cachedResultName": "Control de tickets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Tuj_du9sSYsLjx3icdj9_lEBrXebiUJlSQFBltEKUDo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Tuj_du9sSYsLjx3icdj9_lEBrXebiUJlSQFBltEKUDo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Usuario ": "={{ $json.usuario }}",
            "Correo": "={{ $json.email }}",
            "Problema": "={{ $json.tipo_problema }}",
            "Ticket": "={{ $json.ticket }}",
            "Hora": "={{ $json.hora }}",
            "Criticidad": "={{ $json.nivel_escalamiento }}",
            "Resolucion": "Abierto"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Usuario ",
              "displayName": "Usuario ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Problema",
              "displayName": "Problema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Criticidad",
              "displayName": "Criticidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ticket",
              "displayName": "Ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora",
              "displayName": "Hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Resolucion",
              "displayName": "Resolucion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        352
      ],
      "id": "7e2e0bda-f14b-4412-a577-7e9dd992f3fc",
      "name": "Base_Datos_Google_Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "s4vPt0Kr3hiPQygO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "path": "09bc8742-b627-4ecf-bd54-f37a002b7e6b",
        "authentication": "basicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1232,
        144
      ],
      "id": "0a75d854-8972-4de6-b1bf-b3825139215e",
      "name": "Recepción_Soporte",
      "webhookId": "09bc8742-b627-4ecf-bd54-f37a002b7e6b",
      "credentials": {
        "httpBasicAuth": {
          "id": "HJoqqeelkQf1WV5D",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "content": "Clasificacion de criticidad\n",
        "height": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        80
      ],
      "typeVersion": 1,
      "id": "ebeb613d-15f1-4089-9966-abd698ed6466",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Validacion de dia habil para creacion de ticket",
        "height": 240,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1328,
        416
      ],
      "typeVersion": 1,
      "id": "a50e5bd2-2659-403c-a849-4586518c6193",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Generador de tickets",
        "height": 224,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -864,
        96
      ],
      "typeVersion": 1,
      "id": "23041df8-9584-4962-b618-1b42e9ef281f",
      "name": "Sticky Note3"
    }
  ],
  "connections": {
    "Consultor_Horario_Bogotá": {
      "main": [
        [
          {
            "node": "Formateador_Día_Semana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesador_Datos_y_Generador_ID": {
      "main": [
        [
          {
            "node": "Sincronizador_Ticket_Habil",
            "type": "main",
            "index": 0
          },
          {
            "node": "Unión_Datos_Rechazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sincronizador_Ticket_Habil": {
      "main": [
        [
          {
            "node": "Clasificador_Prioridad_SLA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificador_Prioridad_SLA": {
      "main": [
        [
          {
            "node": "Alerta_Discord_Crítica",
            "type": "main",
            "index": 0
          },
          {
            "node": "Base_Datos_Google_Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail_Confirmación_Recibido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Base_Datos_Google_Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail_Confirmación_Recibido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Base_Datos_Google_Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formateador_Día_Semana": {
      "main": [
        [
          {
            "node": "¿Es_Día_Laboral?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es_Día_Laboral?": {
      "main": [
        [
          {
            "node": "Unión_Datos_Rechazo",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Sincronizador_Ticket_Habil",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Unión_Datos_Rechazo": {
      "main": [
        [
          {
            "node": "Gmail_Notificación_Fin_de_Semana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recepción_Soporte": {
      "main": [
        [
          {
            "node": "Procesador_Datos_y_Generador_ID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consultor_Horario_Bogotá",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75a9b847ca70d09dfa9fa88f133ad4b222a7f841488436c3f7967f271fb025a7"
  }
}
